# Compiled source #
###################
*.pyc

# Nose #
########
*.noseids

# Misc #
########
*~
*.orig
*.log
#.Log
PET*.
*.stdout
*.out
*.vtk
*.csv
*.nc
*LogFile

# Eclipse #
###########
*.project
*.pydevproject
*.settings